.song-title {
	font-size: 36px;
    font-family: Tahoma;
    font-weight: bold;
    text-align: center;
}
.band-name {
	text-align: center;
    font-size: 21px;
    font-weight: bolder;
    font-family: tahoma;
	text-align: center ;
}
.autor {
	text-align: center;
    font-size: 16 px;
    font-weight: bold;
    font-family: tahoma;
	font-style: italic;
	text-align: center;
}
.content {
	text-align: center;
    font-size: 12 px;
    font-family: tahoma;
	text-align: center;
}
	
	